.container h1 {
    color: #7665a0;
    font-size: 32px;
    font-family: 'Gotham 7r', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 1.2em;
    width: 100%;
    background-color: palegreen;
}

.col-40 {
    width: 40%;
    float: left;
}

.col-60 {
    width: 55%;
    float: left;
}

.body {
    font-family: 'Gotham 4r', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: dimgray;
    margin: 0;
}

.col-md-12 h1 {
    background-color: lightsalmon;
    width: 100%;
    color: #7665a0;
    font-size: 32px;
    font-family: 'Gotham 7r', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col-lg-6 {
    background-clip: border-box;
    padding-left: 55px;
    margin-top: 25px;
}

.fa {
    padding: 3px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15%;
}

.mui-container {
    margin-left: 50px;
    margin-right: 50px;
}

div.tp-content-widget {
    background-color: white;
    border: 3px grey;
    box-shadow: 4px 4px 5px 2px lightblue;
    padding: 40px;
    margin: 40px;
}

div.tp-content-icons {
    margin-left: 50px;
}

.mui-container h1 {
    margin-top: 60px;
    margin-bottom: 50px;
}
